{% extends 'base.html' %}
<!-- 'base.html'을 확장한다 -->


<!-- 'base.html'템플릿의 'content' 블록을 채운다.-->
{% block content %}
<div class="post-container">

    {% for post in posts %}
        <div class="post">

        <!--{{ post.pk }}를 이용해서 a tag에 href 속성을 채우시오 -->
        <!-- ex) /post/3/-->
        <!--컨트롤러의 이름이 아니라 url패턴의 이름... -->
        <a href="{% url 'post_detail' pk=post.pk %}"><h3>{{ post.title }}</h3></a>
        <p class="content">{{ post.content|linebreaksbr|truncatewords:30 }}</p>
        <p class="right-text">{{ post.published_date }} | <strong>Published Date</strong></p>
        <p class="right-text">{{ post.author.username }} | <strong>Author</strong></p>


    </div>

{% endfor %}

</div>
{% endblock %}
